{% extends 'base.html.twig' %} {% block title %}Home{% endblock %} {% block body
%} {% include "header/header.html.twig" %}

<div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse vitae eveniet
    veniam unde iusto corporis, quod aliquid deserunt? Id esse illum eligendi
    eius incidunt aliquid, error dolorum voluptatibus iste totam.
  </p>
</div>

{% include "footer/footer.html.twig" %} {% endblock %}
