{% extends 'base.html.twig' %} {% block title %}Home{% endblock %} {% block body
%} {% include "./partials/header/header.html.twig" %}

<div class="h-dvh w-9/12 m-auto">
  <section
    class="flex h-28 bg-[#6E9CE3] items-center pl-4 mt-20 border border-[#1B1725] shadow-md shadow-[#534B62] justify-between"
  >
    <h3 class="text-lg font-medium">Récap de l'année 2023</h3>
    <svg class="plus-sign" width="100" height="100">
      <circle cx="50" cy="50" r="30" fill="#A499B3" stroke="#1B1725" />
      <line stroke="red" x1="30" y1="50" x2="70" y2="50" />
      <line id="line-opacity" stroke="red" x1="50" y1="30" x2="50" y2="70" />
    </svg>
  </section>
  <ul class="w-full">
    <li
      class="dropdownmenu1 bg-[#6E9CE3] opacity-0 justify-between pl-4 pr-4 py-4 border-t-0 border-b-[#534B62] text-[#534B62] flex border border-black"
    >
      <p>Revenus :</p>
      <p>27 830€</p>
    </li>
    <li
      class="dropdownmenu2 bg-[#6E9CE3] opacity-0 justify-between pl-4 pr-4 py-4 border-t-0 border-b-[#534B62] text-[#534B62] flex border border-black"
    >
      <p>Dépenses :</p>
      <p>24 693€</p>
    </li>
    <li
      class="dropdownmenu3 bg-[#6E9CE3] opacity-0 justify-between pl-4 pr-4 py-4 border-t-0 border-b-[#534B62] text-[#534B62] flex border border-black"
    >
      <p>Total restant :</p>
      <p>3 137€</p>
    </li>
  </ul>
</div>

{% include "./partials/footer/footer.html.twig" %} {% endblock %}
