{% extends 'base.html.twig' %} {% block title %}Page Revenu{% endblock %} {%
block body %} {% include "./partials/header/header.html.twig" %}
<div class="container h-dvh w-9/12 mx-auto">
  <table class="border border-[#1B1725] bg-[#A499B3] mt-16 w-full">
    <thead class="w-full">
      <tr class="">
        <th class="border-r border-r-[#534B62] px-4">Date</th>
        <th class="border-r border-r-[#534B62] px-4">Revenus</th>
        <th class="border-r border-r-[#534B62] px-4">Montant économisé</th>
        <th class="px-8">Montant hobbies</th>
      </tr>
    </thead>
    <tbody class="text-[#534B62]">
      <tr>
        <td>14/06/2023</td>
        <td>1 742€</td>
        <td>1 600€</td>
        <td>142€</td>
      </tr>
    </tbody>
  </table>
</div>
{% include "./partials/footer/footer.html.twig" %} {% endblock %}
