{% block body %}
<footer class="bg-[#A499B3]">
  <p>
    <a target="_blank" href="https://icons8.com/icon/112793/money-bag">Money</a>
    icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  </p>
</footer>
{% endblock %}
