@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
  background-color: #d0bcd5;
}

footer {
  height: 3vh;
}

.line_disappear {
  opacity: 0;
}

/* Liste déroulante Récap annuel */
.dropdownmenu1.show {
  transform-origin: top center;
  animation: recap_animation 300ms 60ms ease-in-out forwards;
}

.dropdownmenu2.show {
  transform-origin: top center;
  animation: recap_animation 300ms 180ms ease-in-out forwards;
}

.dropdownmenu3.show {
  transform-origin: top center;
  animation: recap_animation 300ms 360ms ease-in-out forwards;
}

.dropdownmenu1.hide {
  transform-origin: top center;
  animation: recap_animation_backwards 300ms 360ms ease-in-out forwards;
}

.dropdownmenu2.hide {
  transform-origin: top center;
  animation: recap_animation_backwards 300ms 180ms ease-in-out forwards;
}

.dropdownmenu3.hide {
  transform-origin: top center;
  animation: recap_animation_backwards 300ms 60ms ease-in-out forwards;
}

/* Keyframe pour le recap annuel */
@keyframes recap_animation {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

/* Keyframe pour le recap annuel à l'envers */
@keyframes recap_animation_backwards {
  from 0% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
}

.loginMenuAnimated {
  animation: loginMenuAnimation 1s ease-in-out forwards;
}

/* See login_menu.js */
/* .loginMenuAnimatedReversed {
  animation: loginMenuAnimationReversed 1s ease-in-out forwards;
} */

.login_menu {
  transform: translateY(-50vh);
}

/* See login_menu.js */
/* @keyframes loginMenuAnimationReversed {
  from 0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(-10vh);
  }
} */

@keyframes loginMenuAnimation {
  from 0% {
    opacity: 1;
    transform: translateY(-10vh);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

tbody > tr > td:first-child {
  border-left: 0 !important;
}

tbody > tr > td:last-child {
  border-right: 0 !important;
}

tbody > tr > td {
  text-align: center;
}

tbody > tr > td {
  border: 1px solid #534b62;
}

tbody > tr:last-child > td {
  border-bottom: 0;
}
